.description {
  height: 10rem;
}

.page-container {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  border: 1px solid rgba(104, 104, 104, 0.534);
  padding: 1rem;
  max-width: 50%;
  height: 18rem;
}

.input {
  display: flex;
  flex-flow: column;
  justify-content: start;
  width: 100%;
  border: none;
}